<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>post List!</h1>
        <div>
            <p>publicished: 12.11.2019, 14:38</p>
            <h2><a href="">My First post</a></h2>
            <p>asdfasdf</p>
        </div>
        <div>
            <p>publicished: 12.11.2019, 14:38</p>
            <h2><a href="">My second post</a></h2>
            <p>asdfasdf</p>
        </div>
</body>
</html>